<aside class="sidebar">
  <h2>Other Stuff</h2>
    
  <!-- 
    <h3>Research</h3>
      <li><a href="/sidebar_content/paper_reading/intex.html">Paper Reading Sessions</a></li>
  -->
      
  <li><a href="/sidebar_content/Problem_Solving_In_Coding_For_Beginners/index.html">Porblem Solving for New Programmers</a></li>
  <!-- <li><a href="/sidebar_content/speed_cubing/index.html">Speed Cubing</a></li> -->
  <li><a href="/sidebar_content/movies_watched/index.html">Movie Suggestions</a></li>
  <!-- <li><a href="/sidebar_content/culture_of_rush/index.html">Culture of Rush</a></li> -->
  
    
      
      
</aside>
